{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "taro/this-props-function": "off",
    "taro/jsx-handler-names": "off"
  },
  "parser": "babel-eslint",
  "plugins": ["typescript"]
}
